
## configuration file for the exam scheduling/registration system
## to comment a configuration parameter, add a '##' to the beginning of the line
## do not comment configuration headers [SYSTEM], [DISLPAY], [ADMIN], [PHPINI], etc..


## fsnep system host, path, and database login information
[SYSTEM]
host_ip : 54.215.238.3
host_url : www.maratglazer.com/esrs
host_path : /var/www/html/esrs
root_path : /var/www/html/esrs
db_host : localhost
db_name	: esrs
db_login : esrs
db_password : P4lch1k


## text and template format parameters for interface display
[DISPLAY]
smarty_version : Smarty-2.6.20
results_per_page : 50
max_column_width : 15
email_domain : colorado.edu


## general administrator variables to analyze and troubleshoot
[ADMIN]
crypt_seed : dW9j
debug : 0


## define changes to php configuration parameters
[PHPINI]
max_execution_time : 180